.mind-map-section {
  margin-top: 60px;
}

.mind-map-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 44px;
  font-family: "RightGroteskCompactBlack";
  color: var(--white-color);
  text-align: center;
  margin-bottom: 24px;
}

.mind-map-item {
  width: 216px;
  padding: 24px 12px;
  height: 242px;
  padding: 24px 12px;
  background-color: var(--text-color);
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.mind-map-item.link {
  background-color: var(--red-color);
  position: relative;
  text-decoration: none;
}

.mind-map-item-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  font-family: "MessinaSansMonoBook";
  color: var(--white-color);
  text-transform: uppercase;
  display: flex;
}

.mind-map-item-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 32px;
  font-family: "RightGroteskCompactBlack";
  color: var(--white-color);
  margin-top: auto;
}

.mind-map-item.link:hover .mind-map-item-title {
  color: var(--text-color);
}

.mind-map-item.link:hover .mind-map-item-icon {
  fill: var(--text-color);
}

.mind-map-item-icon {
  position: absolute;
  right: 12px;
  top: 24px;
}

.btn-section {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-top: 24px;
}

.btn-slider {
  background-color: transparent;
  border: none;
  color: var(--white-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  font-family: "BiroScriptUSPlusBold";

  &:hover {
    color: var(--red-color);
  }
  &:focus {
    color: var(--red-color);
  }
}
