.mind-map-section {
  width: 216px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.mind-map-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 44px;
  font-family: "RightGroteskCompactBlack";
  color: var(--white-color);
  text-align: center;
  margin-bottom: 24px;
}

.mind-map-item {
  width: 216px;
  padding: 24px 12px;
  height: 242px;
  background-color: var(--text-color);
  border-radius: 16px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.mind-map-item.link {
  background-color: var(--red-color);
  position: relative;
  text-decoration: none;
}

.mind-map-item-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  font-family: "MessinaSansMonoBook";
  color: var(--white-color);
  text-transform: uppercase;
  display: flex;
}

.mind-map-item-title {
  font-size: 32px;
  font-weight: 900;
  line-height: 32px;
  font-family: "RightGroteskCompactBlack";
  color: var(--white-color);
  margin-top: auto;
}

.mind-map-item.link:hover .mind-map-item-title {
  color: var(--text-color);
}

.mind-map-item.link:hover .mind-map-item-icon {
  fill: var(--text-color);
}

.mind-map-item-icon {
  position: absolute;
  right: 12px;
  top: 24px;
}

.btn-section {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-top: 24px;
}

.swiper-button-prev {
  width: 48px;
  height: 24px;
  position: static;
  margin-top: 24px;
  margin-left: 105px;
  &:hover {
    color: var(--red-color);
  }
  &:focus {
    color: var(--red-color);
  }
}

.swiper-button-prev::after {
  content: "Prev";
  color: var(--white-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  font-family: "BiroScriptUSPlusBold";
}

.swiper-button-next {
  width: 54px;
  height: 24px;
  top: 288px;
  left: 201px;
}

.swiper-button-next::after {
  content: "Next";
  color: var(--white-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  font-family: "BiroScriptUSPlusBold";
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.65;
}

.swiper-button-prev:hover::after,
.swiper-button-prev:focus::after {
  color: var(--red-color);
}

.swiper-button-next:hover::after,
.swiper-button-next:focus::after {
  color: var(--red-color);
}

@media (min-width: 768px) {
  .mind-map-section {
    width: 592px;
    padding: 0;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .mind-map-title {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 40px;
  }

  .mind-map-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .mind-map-item {
    width: 284px;
    padding-left: 24px;
    padding-right: 24px;
  }

  .mind-map-item-text {
    width: 128px;
    margin-left: 108px;
  }
}

@media (min-width: 1440px) {
  .mind-map-section {
    width: 1032px;
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .mind-map-title {
    font-size: 160px;
    line-height: 160px;
    margin-bottom: 80px;
  }

  .mind-map-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .mind-map-item {
    width: 504px;
    height: 480px;
  }

  .mind-map-item-text {
    width: 228px;
    font-size: 24px;
    line-height: 29px;
    margin-left: 228px;
  }

  .mind-map-item-title {
    font-size: 64px;
    line-height: 64px;
  }
}
