.mint-section {
  width: 216px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.mint-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 44px;
  font-family: "RightGroteskCompactBlack";
  color: var(--white-color);
  text-align: center;
  margin-bottom: 24px;
}

.mint-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  font-family: "MessinaSansMonoBook";
  color: var(--white-color);
  text-transform: uppercase;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;
}
.input-section {
  width: 216px;
  display: flex;
  flex-direction: column;
}

.input-container {
  width: 216px;
  display: flex;
}
.label-icon {
  width: 48px;
  height: 48px;
  background-color: var(--text-color);
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}
.mint-input {
  cursor: pointer;
  width: 168px;
  height: 48px;
  background-color: transparent;
  border: 1px solid var(--text-color);
  padding-left: 24px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  font-family: "MessinaSansMonoBook";
  color: var(--white-color);
  &:hover {
    border: 1px solid var(--white-color);
  }
  &:focus {
    border: 1px solid var(--white-color);
    outline: none;
  }
}

.input-error {
  border: 1px solid var(--red-color);
  color: var(--red-color);
  &:hover {
    border: 1px solid var(--red-color);
  }
  &:focus {
    border: 1px solid var(--red-color);
    outline: none;
  }
}

.mint-input::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  font-family: "MessinaSansMonoBook";
  color: var(--white-color);
  text-transform: uppercase;
}

.input-error::placeholder {
  color: var(--red-color);
}

.error-message {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  font-family: "MessinaSansMonoBook";
  color: var(--red-color);
  text-transform: uppercase;
  text-align: right;
}

.mint-button {
  width: 216px;
  height: 41px;
  border: none;
  border-radius: 8px;
  background-color: var(--red-color);
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  font-family: "RightGroteskCompactBlack";
  color: var(--white-color);
  &:hover {
    color: var(--text-color);
  }
}

@media (min-width: 768px) {
  .mint-section {
    width: 397px;
    margin-bottom: 80px;
  }

  .mint-title {
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 40px;
  }

  .mint-text {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  .form-wrapper {
    width: 248px;
  }

  .input-section {
    width: 248px;
  }

  .input-container {
    width: 248px;
  }

  .mint-input {
    width: 200px;
  }

  .mint-button {
    width: 247px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .mint-section {
    width: 745px;
    margin-bottom: 120px;
  }

  .mint-title {
    font-size: 160px;
    line-height: 160px;
    margin-bottom: 80px;
  }

  .mint-text {
    width: 581px;
    font-size: 24px;
    line-height: 29px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .form-wrapper {
    width: 397px;
    gap: 48px;
  }

  .input-section {
    width: 397px;
  }

  .input-container {
    width: 397px;
  }

  .label-icon {
    width: 64px;
    height: 64px;
  }

  .mint-input {
    width: 333px;
    height: 64px;
    font-size: 16px;
    line-height: 19px;
  }

  input::placeholder {
    font-size: 16px;
    line-height: 19px;
  }

  .error-message {
    font-size: 12px;
    line-height: 14px;
  }

  .mint-button {
    width: 397px;
    height: 70px;
    font-size: 28px;
    line-height: 34px;
  }
}
