/* Banner */

.banner-container {
  position: relative;
  background-color: var(--red-color);
  border-radius: 12px;
  height: 542px;
  width: 100%;
  max-width: 464px;
  margin: 0 auto;
}

.text-question {
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translateX(-50%);
  width: 127px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: var(--text-color);
  font-family: "BiroScriptUSPlusBold";
}

.title {
  position: absolute;
  top: 63px;
  left: 50%;
  transform: translateX(-50%);
  width: 209px;
  font-size: 44px;
  font-weight: 900;
  line-height: 44px;
  color: var(--text-color);
  font-family: "RightGroteskCompactBlack";
}

.text-info {
  position: absolute;
  top: 115px;
  left: 50%;
  transform: translateX(-50%);
  width: 162px;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: var(--text-color);
  font-family: "BiroScriptUSPlusBold";
}
.text-description {
  text-transform: uppercase;
  position: absolute;
  top: 481px;
  left: 50%;
  transform: translateX(-50%);
  width: 217px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  color: var(--text-color);
  font-family: "MessinaSansMonoSemiBold";
  text-align: center;
}
