.burger-button {
  position: fixed;
  top: 62px;
  right: 16px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-button);
  border-radius: 8px;
  border: none;
  backdrop-filter: blur(12px);
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  font-family: "MessinaSansMonoBook";
  color: var(--text-color);
  z-index: 1000;
}

.menu-list-container {
  z-index: 100;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  transition: all 0.3s ease-in-out;
  background-color: var(--black-color);
}

.menu-list-container.open {
  visibility: visible;
  opacity: 1;
}

.menu-item-link {
  color: var(--white-color);
  text-decoration: none;
}
