.burger-button-menu-red,
.burger-button-menu-black {
  position: fixed;
  top: 66px;
  right: calc((100vw - 768px) / 2 + 28px);
  width: 48px;
  height: 48px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  backdrop-filter: blur(12px);
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  font-family: "MessinaSansMonoBook";
  &:hover {
    text-decoration: underline;
  }
}

.burger-button-menu-red {
  background-color: var(--bg-button);
  color: var(--text-color);
  &:hover {
    color: var(--white-color);
  }
}

.burger-button-menu-black {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
  &:hover {
    color: var(--red-color);
  }
}

.burger-button-open {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-red,
.list-black {
  position: fixed;
  top: 66px;
  right: -164px;
  z-index: 99;
  display: flex;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  opacity: 0;
  pointer-events: none;
  transition: right 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

.list-red {
  background-color: var(--bg-button);
  &:hover {
    color: var(--white-color);
  }
}

.list-black {
  background-color: rgba(255, 255, 255, 0.1);
  &:hover {
    color: var(--red-color);
  }
}

.list-open {
  right: calc((100vw - 768px) / 2 + 76px);
  opacity: 1;
  pointer-events: auto;
}

.list-item-red,
.list-item-black {
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease-in-out;
}

.list-item-red {
  color: var(--text-color);
  &:hover {
    color: var(--white-color);
  }
}

.list-item-black {
  color: var(--text-color);
  &:hover {
    color: var(--red-color);
  }
}

.list-item-link-red,
.list-item-link-black {
  text-decoration: none;
  font-family: "MessinaSansMonoBook";
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
}

.list-item-link-red {
  color: var(--text-color);
}

.list-item-link-black {
  color: var(--white-color);
}

.list-item-red:hover .list-item-link-red {
  color: var(--white-color);
  text-decoration: underline;
}

.list-item-black:hover .list-item-link-black {
  color: var(--red-color);
  text-decoration: underline;
}

@media (min-width: 1440px) {
  .burger-button-menu-red {
    top: 40px;
    right: calc((100vw - 1440px) / 2 + 96px);
    width: 80px;
    height: 80px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 19px;
  }

  .burger-button-menu-black {
    top: 40px;
    right: calc((100vw - 1440px) / 2 + 96px);
    width: 80px;
    height: 80px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 19px;
  }

  .burger-button-open {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .list-red {
    position: fixed;
    top: 40px;
    right: -294px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .list-black {
    position: fixed;
    top: 40px;
    right: -294px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .list-open {
    right: calc((100vw - 1440px) / 2 + 176px);
  }

  .list-item-red,
  .list-item-black {
    width: 80px;
    height: 80px;
  }

  .list-item-link-red {
    font-size: 16px;
    line-height: 19px;
  }

  .list-item-link-black {
    font-size: 16px;
    line-height: 19px;
  }
}
