.main-container {
  width: 100%;
  margin: 0 auto;
  padding: 54px 0 24px 0;
  position: relative;
  height: 100%;
}

@media (min-width: 768px) {
  .main-container {
    margin-bottom: 40px;
  }
}

@media (min-width: 1440px) {
  .main-container {
    padding-top: 16px;
  }
}
