.main-container {
  width: 100%;
  min-width: 360px;
  max-width: 480px;
  margin: 0 auto;
  padding: 54px 0 24px 0;
  position: relative;
}

@media (min-width: 768px) {
  .main-container {
    max-width: 768px;
    margin-bottom: 40px;
  }
}

@media (min-width: 1440px) {
  .main-container {
    max-width: 1440px;
    padding-top: 16px;
  }
}
