.collection-section {
  width: 216px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.collection-title {
  width: 208px;
  font-size: 44px;
  font-weight: 900;
  line-height: 44px;
  font-family: "RightGroteskCompactBlack";
  color: var(--white-color);
  text-align: center;
  margin-bottom: 24px;
}
.swiper-slider {
  margin-right: 0;
  margin: 0 auto;
}
.swiper-wrapper {
  width: 216px;
  height: 310px;
}

.collection-image {
  width: 216px;
  height: 256px;
  border-radius: 20px;
}

.swiper-button-prev {
  width: 48px;
  height: 24px;
  margin: 0;
  position: absolute;
  top: 95%;
  transform: translateY(-50%);
  left: 40px;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: var(--red-color);
  }
  &:focus {
    color: var(--red-color);
  }
}

.swiper-button-next {
  width: 54px;
  height: 24px;
  position: absolute;
  margin: 0;
  top: 95%;
  transform: translateY(-50%);
  left: 128px;
  transition: color 0.3s ease-in-out;
  &:hover {
    color: var(--red-color);
  }
  &:focus {
    color: var(--red-color);
  }
}

@media (min-width: 768px) {
  .collection-section {
    width: 592px;
    margin-bottom: 80px;
  }

  .collection-title {
    width: 378px;
    font-size: 80px;
    line-height: 80px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .swiper-wrapper {
    height: 390px;
  }

  .collection-image {
    width: 284px;
    height: 336px;
    border-radius: 24px;
  }

  .swiper-button-prev {
    left: 221px;
  }

  .swiper-button-next {
    left: 317px;
  }
}

@media (min-width: 1440px) {
  .collection-section {
    width: 1032px;
    margin-bottom: 80px;
  }

  .collection-title {
    width: 755px;
    font-size: 160px;
    line-height: 160px;
    margin-bottom: 80px;
  }

  .swiper-wrapper {
    height: 358px;
  }

  .collection-image {
    width: 240px;
    height: 280px;
    border-radius: 20px;
  }

  .swiper-button-prev {
    left: 441px;
  }

  .swiper-button-next {
    left: 537px;
  }
}
