.collection-section {
  padding: 0 72px;
}

.swiper-wrapper {
  height: 256px;
}

.collection-image {
  width: 216px;
  height: 256px;
  border-radius: 18px;
}

.swiper-button-prev {
  width: 48px;
  height: 24px;
  position: static;
  margin-top: 24px;
  margin-left: 33px;
  &:hover {
    color: var(--red-color);
  }
  &:focus {
    color: var(--red-color);
  }
}

.swiper-button-next {
  width: 54px;
  height: 24px;
  top: 303px;
  left: 129px;
}
